# === JWT === 
JWT__KEY=My-32-characters-super-secret-key
JWT__ISSUER=KashPay
JWT__AUDIENCE=KashPayUsers
JWT__EXPIRATIONMINUTES=15
JWT__REFRESHTOKENEXPIRATIONDAYS=7

# === Infra ===
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=localhost;Port=5432;Database=mydb;Username=myuser;Password=mypass
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pass

# === Application ===
CPF__SECRETKEY=My-32-characters-super-secret-key

# === Email ===
SMTP_FROM=noreply@kashpay.com
SMTP_HOST=mailpit
SMTP_PORT=1025